{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 600px;">

    <h3 class="mb-4 text-primary">Cập nhật lương nhân viên</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Họ tên</label>
            <input class="form-control" value="{{ user_obj.get_full_name }}" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Lương cơ bản (VNĐ)</label>
            <input type="number" name="base_salary" step="0.01" 
                   value="{{ user_obj.base_salary }}"
                   class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Tiền công theo giờ (VNĐ)</label>
            <input type="number" name="hourly_rate" step="0.01" 
                   value="{{ user_obj.hourly_rate }}"
                   class="form-control">
        </div>

        <button class="btn btn-primary w-100">Lưu</button>

    </form>
</div>

{% endblock %}
